mixin banner (pic, title, text, link)
    .amenities__head
        .amenities__wrap
            .amenities__pic
                .img(style="background: linear-gradient(180.09deg, rgba(164, 186, 4, 0) 0.25%, rgba(164, 186, 4, 0.81) 117.87%), linear-gradient(0deg, #A4BA04, #A4BA04), url('" + pic + "'); background-blend-mode: normal, multiply, normal; background-size: cover; background-position: 50%;")
            .amenities__text
                h3.title.title_white= title
                br
                p= text
                span.amenities__next подробнее
                a.amenities__link(href= link)

mixin banner-img (pic, title, text, link)
    .amenities__head
        .amenities__wrap
            .amenities__pic
                img(src= pic alt="Картинка")
            .amenities__text
                h3.title.title_white= title
                br
                p= text
                span.amenities__next подробнее
                a.amenities__link(href= link)

mixin banner-img-black-background (pic, title, text, link)
    .amenities__head
        .amenities__wrap
            .amenities__pic.amenities__pic_black-background
                img(src= pic alt="Картинка")
            .amenities__text
                h3.title.title_white= title
                br
                p= text
                span.amenities__next подробнее
                a.amenities__link(href= link)