include banner-stock

mixin article(data)
  .article(class=data.mb ? 'article_mb' : '')
    h1.title.article__title=data.title
    hr.article__hr

    if data.banner
      +banner-stock('images/banners-stock/banner-1.png')

    if data.img
      .article__pic
        img(src=data.img alt="Обложка статьи")

    .article__text
      p !{data.text1}

      if data.text2
        p !{data.text2}

      if data.text3
        p !{data.text3}
